.menu-list-selector {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.homepage-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}

.heading-restaurant {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #183b56;
  margin-left: 5%;
  margin-bottom: 0px;
}

.sort-icon {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}

.sort-by {
  display: flex;
}

.line {
  border: 1px solid #cbd2d9;
  width: 90%;
}
