.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #f8fafc;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.logo-and-title-container {
  display: flex;
}
.header-logo-container {
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 30px;
    margin-top: 15px;
    align-items: center;
    margin-right: 0px;
  }
}

.header-menu-items {
  display: flex;
}

.list-items {
  list-style-type: none;
  padding-left: 0px;
}

.logout-button {
  background-color: transparent;
  outline: none;
  border-width: 0px;
}

.list-items {
  color: #334155;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
}
